* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#linkCentralAtendimentos{
    color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
}

.mudarEstiloBodyImage{
    background-image: url("Imagem14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.retornoPainelLink{
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
}
.links {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.links:hover {
    background-color: white;
    color: rgb(0, 140, 255);
    border: 1px solid rgb(0, 140, 255);
    transform: translate(0, -2px);
    transition: .5s;
}

.containerPaiCabecalhoBootstrap {
    background-color: rgb(0, 140, 255);
}

.containerPaiCabecalhoBootstrap>ul {
    display: flex;
    gap: 20px;
}

.iconCabecalho {
    color: white;
    width: 50px;
    height: 50px;

}

.agrupIconETitulo {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.agrupIconETitulo>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
}

.agrupIconETitulo> :hover {
    color: #00F1FE;
}

.cabecalhoPrincipal {
    background-color: rgb(0, 140, 255);
    padding: 0;
}

.btnMenu {
    border-color: #fff;
    margin-right: 20px;
    color: white;
}

.tituloMenuSuspenso {
    color: rgb(0, 140, 255);
    font-weight: 700;
    font-size: 1.7rem;
}

.btnMenuIcon {
    color: white;
    width: 80px;
    height: 50px;
}

#cabecalho-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
    background-color: rgb(0, 140, 255);
}

#painelPacientes {
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.painelPreferencial {
    border-radius: 3px;
    width: 300px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
    background-color: red;

}


.tituloPainelPreferencial {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.tituloPainelNormal{
    color: #008CFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.listaPrefencial{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.listaNormal {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.lista:hover {
    transform: translateY(-10px);
    transition: .5s;
}

.lista:focus {
    box-shadow: #00F1FE;
}

.lista:active {
    color:  #00F1FE;
}
.painelNormal {
    width: 300px;
    height: 450px;
    background-color: #008CFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
    border-radius: 3px;
}

.painelFormPai {
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    



}

.painelForm {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.847);
    box-shadow: rgba(206, 189, 189, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.painelForm:hover {
    transform: translateY(-10px);
    box-shadow: 0px 3px 15px #0a52be9f;
    transition: .5s;
}
.divFlexTituloPainelPreferencial{
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: url("Imagem26.png");
    background-size: cover;
    background-position: bottom;
    border-radius: 2px;
}
.divFlexTituloPainelNormal{
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: url("Imagem25.png");
    background-size: cover;
    background-position: bottom;
    border-radius: 2px;
 
}

.agruparTitulo {
    margin-top: 40px;
    
}
.senhaPreferencial{
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
 
}

.inputStyle {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #008CFF;
    background: rgba(#008CFF, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #008CFF;
    width: 250px;
}

.inputStyle::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    border-radius: 5px;
    color: #fff;
    background-color: #0d6efd;
    padding: 10px;
    border: 0px;

}

.btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn:focus {
    box-shadow: rgb(49, 132, 253);
}

.btn:active {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}

.agruparInputs {
    display: flex;
}

.divPaiConsultarPaciente {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.847);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divCentralizarTitulo {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.h2CadastrarPaciente{
    color: #008CFF;
    font-size: 40px;
   
}

.btnPreferencial {
    padding: 10px;
}

.elementPaiConsultarPaciente {
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.elementBodyEditarPaciente {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.847);
    box-shadow: rgba(206, 189, 189, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.elementBodyEditarPaciente:hover {
    transform: translateY(-10px);
    box-shadow: 0px 3px 15px #0a52be9f;
    transition: .5s;
}

.styleEditarPaciente {
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleFormEditarNome {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 2.5rem;

}

.verificarAtendimento {
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agrupBtnConsultarPaciente {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main{
  margin-top: 2%;
   
}

.ApresentacaoHome {

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #008CFF;

}

.tituloApresentacao {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.h2ApresentacaoHome {

    color: white;
    font-weight: 800;
    font-size: 78px;
    line-height: 70px;
}

.h2ApresentacaoHome:hover {
    transform: translateY(-10px);
    transition: transform .7s;
   
}

.alinhamentoImagem {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagemApresentacao {
    height: 590px;
}

.imagemApresentacao:hover {
    transform: translateY(-10px);
    transition: transform .7s;
}

.camadaImagem {
    color: red;
}

.caixaAlinhamentoBotoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.botaoApresentacaoHome {
    width: 200px;
    height: 52px;
    border-radius: 5px;
    border: 0px;
    background-color: #ECF6FC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #008CFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

.botaoApresentacaoHome:hover {
    background-color: #008CFF;
    font-weight: bold;
    color: #ECF6FC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 241, 254, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 241, 254, 1);
    box-shadow: 0px 0px 5px 2px rgba(0, 241, 254, 1);
    transform: translateY(-10px);
    transition: transform .7s;

}

.paragrafoApresentacaoHome {
    color: #00F1FE;
    font-size: 1.3rem;
    font-weight: 600;
}

.paragrafoApresentacaoHome:hover {
    transform: translateY(-10px);
    transition: transform .7s;
}

.apresentacaoIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 900px;
    gap: 25%;
}

.iconsPai {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    
}

.icon1 {
    color: #ECF6FC;
    height: 150px;
    border-radius: 10%;
    border: .5px solid #008CFF;

}
.icon1:hover{
    transform: translateY(-10px);
    transition: .5s;
}


.paragrafoIcons {
    margin-top: 10px;
    color: #008CFF;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;

}
.paragrafoIcons:hover{
    transform: translateY(-10px);
    transition: .5s;
}

.h2ApresentacaoIcons {
    margin-top: 10%;
    color: #008CFF;
    font-weight: 800;
    font-size: 48px;
    line-height: 80px;
}
.h2ApresentacaoIcons:hover{
    transform: translateY(-10px);
    transition: .5s;
}






.caixaPaiTitulosSobreNos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #008CFF;
    opacity: 100%;

}

.h2SobreNos {
    color: #fff;
    margin-top: 20%;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
}

.h2SobreNos:hover {
    transform: translateY(-10px);
    transition: transform .7s
}

.h3SobreNos {
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 20px;
    color: #00F1FE;
    margin-bottom: 20%;

}

.h3SobreNos:hover {
    transform: translateY(-10px);
    transition: transform .7s
}



.subSessaoLinhaTempoOne {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #008CFF;

}




.imgCheckSobreNosWhite {
    color: #fff;
}

.imgCheckSobreNosBlue {
    color: #008CFF;
}


.linhaTempoPai {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.subSessaoLinhaTempo {
    width: 2.5px;
    height: 84.5vh;
    background-color: #00F1FE;
    border-radius: 10px;
}

.sessaoTextoLinhaTempo1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 250px;
    padding: 50px;
    border: 1px solid white;
    background-color: #008CFF;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    color: white;
    border-radius: 10px;
}
.sessaoTextoLinhaTempo2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 250px;
    padding: 50px;
    background-color: #008CFF;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0, 75);
    color: #fff;
    border-radius: 10px;
}

.sessaoTextoLinhaTempo1:hover{
    -webkit-box-shadow: 0px 0px 30px 0px #fff;
    -moz-box-shadow: 0px 0px 30px 0px #fff;
    box-shadow: 0px 0px 30px 0px #fff;
    transform: translate(0px, -5px);
    border-radius: 10px;
    transition: transform 0.7s;
}
.sessaoTextoLinhaTempo2:hover{
    -webkit-box-shadow: 0px 0px 30px 0px #008CFF;
    -moz-box-shadow: 0px 0px 30px 0px #008CFF;
    box-shadow: 0px 0px 30px 0px #008CFF;
    transform: translate(0px, -5px);
    border-radius: 10px;
    transition: transform 0.7s;
}


.tituloFaseSobrenos {
    font-size: .8rem;
}

.paragrafoSobreNos {
    font-size: 1.8rem;
    font-weight: bold;

}

.paragrafoSublinhado {
    color: #00F1FE;
}


.subSessaoLinhaTempoTwo {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
     background-color: #fff;

}

.subSessaoLinhaTempoThree {
    background-color: #008CFF;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subSessaoLinhaTempoFour {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}


/* ... Mais estilos ... */
.caixaSobrenos1 {
    position: relative;
}

.imagensSobreNos {
    position: absolute;
    left: 300px;
    top: -350px;
    z-index: 1;
}

.imagensSobreNosFilho1 {
    height: 500px;
}
.imagensSobreNosFilho1:hover{
    transform: translateY(-10px);
    transition: transform .7s
}


.titulos_comentarios {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    gap: 30px;

}

.sessaoOqueDizemSobrenosPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #008CFF;
}
.h2RelatoCLiente {
    color: #fff;
    margin-top: 25%;
    font-weight: 800;
    font-size:  58px;
    line-height: 80px;

}

.h2RelatoCLiente:hover {
    transform: translateY(-10px);
    transition: transform .7s
}

.h3RelatoCLiente {
    color: #00F1FE;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25%;
}

.h3RelatoCLiente:hover {
    transform: translateY(-10px);
    transition: transform .7s
}


.alinhaElementosOqueDizemSobreNosVerso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: #008CFF;
}
.alinhaElementosOqueDizemSobreNosReverso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 50px;
    background-color: #008CFF;
}
.imagemRelato{
    height: 400px;
  
}
.imagemRelato:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}
.paragrafoRelatoPaciente{
    font-weight: 700;
    font-size: 28px;
    overflow-wrap: break-word;
    color: white;
}
.paragrafoRelatoPaciente:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}
.paragrafoIdentificacaoPaciente{
    color: #c1c2c2c2;
    font-size: 18px;
    font-weight: 600;
}
.paragrafoIdentificacaoPaciente:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 140vh;
    gap: 400px;
    
}

.rodapeContato {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.h3Rodape {

    color: #008CFF;
    font-weight: 800;
    font-size: 50px;
}
.h3Rodape:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}

.paragrafoRodape {
    color: #9fa1a1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.paragrafoRodape:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}

.logoRodape {
    width: 100px;
    height: 100px;
}
.logoRodape:hover{
    transform: translateY(-10px);
    transition: transform .7s;
}

.rodapeBtn {
    border: none;
    width: 246px;
    height: 52px;
    border-radius: 5px;
    background-color: #4AC02D;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.rodapeBtn:hover {
    transform: translateY(-10px);
    transition: transform .7s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(74, 192, 45, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(74, 192, 45, 1);
    box-shadow: 0px 0px 10px 0px rgba(74, 192, 45, 1);
}
.rodapeLocalizacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.areaMedica{
    position: fixed;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    justify-content: center;
   align-items: center;
   height: 500px;
}
.elementoAreaMedica{
    
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 450px;
   height: 450px;
   background-color: rgba(255, 255, 255, 0.847);
   box-shadow: rgba(206, 189, 189, 0.24) 0px 3px 8px;
   border-radius: 5px;
}
.elementoAreaMedica:hover{
    transform: translateY(-10px);
    box-shadow: 0px 3px 15px #0a52be9f;
    transition: .5s;
}
.styleFormularioAreaMedica{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 40px;
   margin-top: 2.5rem;

}